<div class="container">
  <div class="dasboard">
    <app-nav></app-nav>

    <div class="project-description">
      <h2>Descripción del Proyecto</h2>
      <p>
        Este proyecto se realizó con Spring Boot y Java 17, utilizando Maven
        como gestor de dependencias. Es un sistema de gestión de productos donde
        se requiere iniciar sesión para acceder a las funcionalidades. Si las
        credenciales son correctas, se puede acceder a un CRUD (Create, Read,
        Update, Delete) de productos. La ruta para acceder a esta funcionalidad
        está protegida y requiere autenticación.
      </p>
    </div>
  </div>
</div>
