footer {
    background-color: black;
    
}

.fot-down {
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto; 
    background-color: #333;
    color: white;
    height: auto; 
    text-align: center;
    line-height: 60px;
}

.parrafo p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 10px 0px;
}

